# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.lock-wscript
package-lock.json
*.log

# Next.js
.next/
out/
.next-static/
.vercel/

# Env / secrets
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/migrations/**/migration.sql.bak

# Misc
.DS_Store
*.local
